{% extends "base.html" %}

{% block content %}
    <h2 class="pageTitle">Contact Info</h2><br>
    <div class="info">
        <table border="0">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
            <tr>
                <td>Anthony</td>
                <td>Castillo</td>
                <td>acastillo52@csustan.edu</td>
            </tr>
        </table>
        <br>
        This is the interface for the DoIOwnIt project.
    </div>
    
{% endblock %}