{% extends "base.html" %}

{% block content %}
    <h1 class="pageTitle">Contact Info</h1><br>
    <div class="info">
        <table border="0">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>GitHub</th>
            </tr>
            <tr>
                <td>Anthony</td>
                <td>Castillo</td>
                <td>acastillo52@csustan.edu</td>
                <td><a href=https://github.com/CastilloAnthony>GitHub</a></td>
            </tr>
        </table>
        <br>
        This is the interface for the DoIOwnIt project. The project's GitHub page can be found here:
        <a href=https://github.com/CastilloAnthony/DoIOwnIt>GitHub Link</a>
    </div>
    
{% endblock %}