{% extends "base.html" %}

{% block content %}
    <h1 class="pageTitle">List of Games</h1><br>
    <div class="info">
        <table border="0">
            <tr>
                <th>Service(s)</th>
                <th>Name of Game</th>
            </tr>
            {% for game in list['steam'] %}
                <tr>
                    <th>Steam</th>
                    <th>{{ game }}</th>
                </tr>    
            {% endfor %}
            
        </table>
    </div>

{% endblock %}